#subteam-main-pic {
    display: flex;
    height: 810px;
    width: 100%;
    position: relative;
    background-color: black;
    background-attachment: fixed;
}

.slidesubteam {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center 68%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.slidetextsubteam {
    margin-left: 260px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 60px;
    font-style: italic;
    text-shadow: 4px 2px 2px rgb(4, 4, 4);
    display: flex;
    align-items: center; 
}

/*
   CARDS SECTION
*/
#subteam-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #01264d;
    padding-bottom: 40px;
}

.card {
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    height: 60vh;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 20px;
}

.cardhead {
    margin-left: 20px;
    width: 450px;
    color: white;
    font-size: clamp(36px, 8vh, 70px);
    font-style: italic;
    text-align: left; 
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-shadow: 2px 2px black;
}

.cardtext {
    margin-left: 20px;
    margin-top: 0px;
    width: 450px;
    color: white;
    font-size: clamp(14px, 2.3vh, 19px);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

@media (max-width: 768px) {
    .slidetextsubteam {
        margin-left: 0;
        text-align: center;
        font-size: 40px;
        justify-content: center;
    }

    .card {
        width: 90%; 
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
	justify-content: center;
    }

    .cardhead {
        width: 90%;
        font-size: 32px;
    }
    
    .cardtext {
        width: 95%;
        font-size: 16px;
    }

    .slidesubteam {
        background-repeat: no-repeat;
        background-attachment: scroll;
        zoom: 1;
        background-size: cover;
        background-position: center 30%;
    }
}

@media (max-width: 411px) {
    .cardtext {
        font-size: 13px;
    }

    .card {
      justify-content: center;
      width: 90%;
    }

    .cardhead {
	width: 90%;
    }
}
